<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Hotels Navbar</title>
    <link rel="stylesheet" href="/css/hotels/hotels.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <script defer src="/js/header.js"></script>
    <script defer src="/js/hotels/hotels.js"></script>
  </head>

  <body>
    <header
      class="headerContainer"
      style="width: 90%; margin: 0 auto"
    >
      <div class="headerDiv">
        <img
          class="headerLogo"
          src="/images/tours/logo.png"
          alt="logo"
          onclick="window.location.href = '/' "
        />
        <div class="headerLinkContainer">
          <a class="headerLink" href="/tours">Tours</a>
          <a class="headerLink" href="/hotels">Hotels</a>
          <a class="headerLink" href="/contact">Contact Us</a>
        </div>
        <div class="headerSignInContainer">
          <% if (user) { %>
          <div class="profileContainer">
            <img
              src="https://api.dicebear.com/9.x/initials/svg?seed=<%= user.fullName %>"
              alt="avatar"
              class="avatar"
              onclick="toggleDropdownHeader()"
            />
            <div
              class="dropdownMenuHeader"
              id="dropdownMenuHeader"
            >
              <a href="/dashboard">Profile</a>
              <% if(user.type == "admin" ){ %>
              <a href="/dashboard/admin">Dashboard</a>
              <% };%> <% if(user.type == "hotelManager" ){ %>
              <a href="/dashboard/hotelManager">Dashboard</a>
              <% };%>
              <a href="/logout">Logout</a>
            </div>
          </div>
          <% } else { %>
          <button
            onclick="window.location.href = '/signIn'"
            class="headerSignInButton"
          >
            Sign In
          </button>
          <% } %>
        </div>
      </div>
    </header>
    <div class="search-container-header">
      <div class="search-box-header">
        <span class="icon-header">📍</span>
        <div class="input-wrapper-header">
          <label for="location-header">Location</label>
          <input
            type="text"
            id="location-header"
            placeholder="Where are you going?"
          />
        </div>
        <button
          class="search-button-header"
          onclick="handleSearch()"
        >
          Search
        </button>
      </div>
    </div>

    <!-- Hotel Listings Section -->
    <div class="hotel-listings">
      <!-- Search and Filter Sidebar -->
      <aside class="filter-sidebar">
        <h3
          style="
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
          "
        >
          Filter by
        </h3>
        <div class="filter-section">
          <div class="filter-header" onclick="toggleDropdown()">
            <span>Location</span>
            <span class="arrow">&#9662;</span>
          </div>
          <div class="filter-options">
            <label><input type="checkbox" />Bengaluru</label>
            <label><input type="checkbox" />Chennai</label>
            <label><input type="checkbox" />Delhi</label>
            <label><input type="checkbox" />Kolkata</label>
          </div>
        </div>

        <div class="filter-section">
          <div class="filter-header" onclick="toggleDropdown()">
            <span>Number of Beds</span>
            <span class="arrow">&#9662;</span>
          </div>
          <div class="filter-options">
            <label><input type="checkbox" /> 1</label>
            <label><input type="checkbox" /> 2</label>
            <label><input type="checkbox" /> 3</label>
            <label><input type="checkbox" /> 4+</label>
          </div>
        </div>

        <div class="filter-section">
          <div class="filter-header" onclick="toggleDropdown()">
            <span>Property type</span>
            <span class="arrow">&#9662;</span>
          </div>
          <div class="filter-options">
            <label><input type="checkbox" /> Aparthotel</label>
            <label><input type="checkbox" /> Apartment</label>
            <label><input type="checkbox" /> Hotel</label>
            <label><input type="checkbox" /> Villa</label>
            <label
              ><input type="checkbox" /> Hostel/Backpacker
              accommodation</label
            >
            <label><input type="checkbox" /> Cabin</label>
            <label><input type="checkbox" /> Lodge</label>
            <label><input type="checkbox" /> Camping</label>
          </div>
        </div>

        <div class="filter-section">
          <div class="filter-header" onclick="toggleDropdown()">
            <span>Accessibility</span>
            <span class="arrow">&#9662;</span>
          </div>
          <div class="filter-options">
            <label><input type="checkbox" /> Elevator</label>
            <label
              ><input type="checkbox" /> Sign language-capable
              staff</label
            >
            <label
              ><input type="checkbox" /> Service animals
              allowed</label
            >
            <label
              ><input type="checkbox" /> Roll-in shower</label
            >
            <label
              ><input type="checkbox" /> Stair-free path to
              entrance</label
            >
            <label
              ><input type="checkbox" /> In-room
              accessibility</label
            >
            <label
              ><input type="checkbox" /> Accessible
              bathroom</label
            >
            <label
              ><input type="checkbox" /> Wheelchair accessible
              parking</label
            >
          </div>
        </div>
      </aside>

      <!-- Hotel Cards -->
      <div class="hotels-container">
        <% hotels.forEach(hotel => { %>
        <div class="hotel-card">
          <div class="hotel-image">
            <img src="<%= hotel.mainImage  %>" alt="Hotel 1" />
            <button class="fav-btn">❤</button>
          </div>
          <div class="hotel-info">
            <h2 onclick="handleHotelClick(`<%=hotel._id%>`)">
              <%= hotel.title %>
            </h2>
            <p><%= hotel.location %></p>
            <p class="features">
              <%= hotel.amenities.join(" | ") %>
            </p>
            <p><%= hotel.description %></p>
            <p class="deal">Reserve now, pay later</p>
            <p class="rating">
              <% for(let i = 1; i <= hotel.rating; i++){ %> ⭐ <%
              }; %>
            </p>
            <div
              style="
                display: flex;
                justify-content: space-between;
              "
            >
              <p class="price">
                <%= hotel.roomType[0].price %> <%= hotel.currency
                %>
                <span>Includes taxes & fees</span>
              </p>
              <button
                style="align-self: center"
                class="availability"
                onclick="handleHotelClick(`<%=hotel._id%>`)"
              >
                Book Now!
              </button>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-about">
          <h3>Chasing Horizons</h3>
          <p>
            Explore the beauty of India with us. Your journey to
            breathtaking destinations starts here!
          </p>
        </div>

        <div class="footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tours">Tours</a></li>
            <li><a href="/hotels">Hotels</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>

        <div class="footer-social">
          <h4>Follow Us</h4>
          <div class="social-icons">
            <a href="https://www.youtube.com" target="_blank">
              <i
                class="fa-brands fa-youtube"
                style="font-size: 40px"
              ></i>
            </a>
            <a href="https://www.instagram.com" target="_blank">
              <i
                class="fa-brands fa-square-instagram"
                style="font-size: 40px"
              ></i>
            </a>
            <a href="https://x.com/" target="_blank">
              <i
                class="fa-brands fa-square-x-twitter"
                style="font-size: 40px"
              ></i>
            </a>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <p>© 2025 Chasing Horizons. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
